<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aplikasi Cek Cuaca</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/cuaca.png">
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>{{pesanKesalahan}}</p>
</div>
{{>footer}}
</body>
</html>