<header class="navbar-container">
    <h1 class="heading">{{judul}}</h1>
    <nav class="nav-list">
        <ul>
            <li><a href="/">Home</a> </li>
            <li><a href="/tentang">Tentang</a> </li>
            <li><a href="/bantuan">Bantuan</a> </li>
            <li><a href="/berita">Berita</a> </li>
        </ul>
    </nav>
</header>